In [1]:
import numpy as np
import pandas as pd

In [2]:
!cat dane/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [3]:
df = pd.read_csv('dane/ex1.csv')
df

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [4]:
!cat dane/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [7]:
names = ['takie_a','inne_b','zielone_c','wodne_d','info']
df2 = pd.read_csv('dane/ex2.csv',names=names,index_col='info')
df2

,takie_a,inne_b,zielone_c,wodne_d
info,,,,
hello,1,2,3,4
world,5,6,7,8
foo,9,10,11,12

In [8]:
!cat dane/ex4.csv

# Cześć!
a,b,c,d,message
# Chciałem tylko trochę utrudnić Twoją pracę.
# Kto w ogóle wczytuje pliki CSV za pomocą komputera?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
pd.read_csv('dane/ex4.csv',skiprows=[0,2,3])

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [12]:
mojedane = pd.read_csv('dane/ex5.csv')
mojedane

,something,a,b,c,d,message
0,one,1,2,3.0,4,NaN
1,two,5,6,NaN,8,world
2,three,9,10,11.0,12,foo

In [13]:
mojedane.to_csv('dane/md10.csv')

In [14]:
mojedane.to_html('dane/md.html')

In [16]:
dc = mojedane.to_dict()
dc

{'something': {0: 'one', 1: 'two', 2: 'three'},
 'a': {0: 1, 1: 5, 2: 9},
 'b': {0: 2, 1: 6, 2: 10},
 'c': {0: 3.0, 1: nan, 2: 11.0},
 'd': {0: 4, 1: 8, 2: 12},
 'message': {0: nan, 1: 'world', 2: 'foo'}}