In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series([3,5,3,6,37,7,35,8],index=['a','b','c','d','g','n','v','q'], name='wartość')
s1

In [3]:
sdata = {'Warszawa':45690,'Lublin':32450,'Kraków':42340,'Gdańsk':38780}
s2 = pd.Series(sdata,name='wnioski')
s2

In [5]:
miasta = {'miasto':['Warszawa','Kielce','Białystok','Rzeszów'],
          'wnioski':[1230,1009,1340,1020],
          'projekty':[8,5,4,4]}

frame = pd.DataFrame(miasta,index=[10,11,12,13])
frame

,miasto,wnioski,projekty
10,Warszawa,1230,8
11,Kielce,1009,5
12,Białystok,1340,4
13,Rzeszów,1020,4

In [10]:
daty = pd.date_range("20240513",periods=6)
daty

DatetimeIndex(['2024-05-13', '2024-05-14', '2024-05-15', '2024-05-16',
               '2024-05-17', '2024-05-18'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4),index=daty,columns=list("ABCD"))
df

,A,B,C,D
2024-05-13,-0.056564,-0.313544,1.518806,-1.628442
2024-05-14,-1.161920,1.282876,0.323039,0.678984
2024-05-15,-0.690766,0.023006,1.870558,0.896517
2024-05-16,-0.851629,-0.371101,0.709109,0.080605
2024-05-17,1.758177,1.787682,0.174084,-1.071502
2024-05-18,-0.552972,0.209883,-0.268830,-0.821139

In [12]:
m = "ABCD"
m

'ABCD'

In [13]:
m[0]

'A'

In [14]:
m[2]

'C'

In [15]:
m[1:3]

'BC'

In [16]:
m[-1]

'D'